## Lesson 3 - Pandas DataFrame

Creating a dictionary of lists of Patients, Ages, Sex and Profession

```JSON
data = {
"Patient" : ["Peter Johnson", "John Brobbey", "Mark Ocansey", "Bridget Appiah"],
"Age ": [23, 54, 67, 27],
"Sex" : ["Male", "Male", "Male", "Female"],
"Profession" : ["Student", "Carpenter", "Doctor", "Data Scientist"]
}
```
```python
import pandas as pd

df = pd.DataFrame(data) #This converts the list of patient into a tabular dataframe
df
```
To see the first 5 items of the Dataframe, 

1. df.head()
2. df.tail()

```python 
df.head() #You can put in a number of items you want to see
df.tail()
```

In [1]:
import pandas as pd

In [2]:
data = {
'Patient': ["Peter Johnson", "John Brobbey", "Mark Ocansey", "Bridget Appiah"],
'Age' : [23, 54, 67, 27],
'Sex' : ['Male', 'Male', 'Male', 'Female'],
'Profession' : ['Student', 'Carpenter', 'Doctor', 'Data Scientist']
}

df = pd.DataFrame(data)
df

          Patient  Age     Sex      Profession
0   Peter Johnson   23    Male         Student
1    John Brobbey   54    Male       Carpenter
2    Mark Ocansey   67    Male          Doctor
3  Bridget Appiah   27  Female  Data Scientist

In [4]:
df.head(2)

         Patient  Age   Sex Profession
0  Peter Johnson   23  Male    Student
1   John Brobbey   54  Male  Carpenter

In [5]:
df.tail(2)

          Patient  Age     Sex      Profession
2    Mark Ocansey   67    Male          Doctor
3  Bridget Appiah   27  Female  Data Scientist